body {
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


.top-wrapper {
  padding: 400px 0 100px 0;
  background-image: url(img00219.jpg);
  background-size: cover;
  color: white;
  text-align:center;
  opacity: 0.9;


}

li {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  color: black;
  list-style: none;
  font-family:serif;
  font-weight:900;
}


.top-wrapper p {
  opacity: 0.9;
  color: white;
}

.top-wrapper a{
  background-color: black;
  opacity: 0.4;
  width:120px;
}

.top-wrapper img{
  width: 40%;
  height: 40%;
  opacity: 0.9;
  border-radius: 200px;
  padding-top: 70px;
}

h1{
 color:red;
}

.top-wrapper h1{
font-family: impact;
font-weight: 800px;
font-size: 70px;
}


header{
  top:0;
  height: 71px;
  width: 100%;
  background:rgba(51, 0, 0, 1);
  position: fixed;
  z-index: 10;
}
.header-right{

  float: right;
}
.header-left h1{

  padding: 0 25px;
  color: white;
  font-family: serif;
}
.btn:hover {
   background-color: rgba(255, 255, 255, 0.5);
}

.btn{
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  display:inline-block;
  line-height: 50px;
  color: white;
  padding:0px 20px;
  width: 100px;
  text-align: center;
}

}

h2{
  font-weight: lighter;
}


.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

footer{
  color:#b3aeb5;
}
